.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.defaultTile {
  border: 1px solid white;
  background: whitesmoke;
}

/* ヘビの頭の色 */
.snakeHead {
  background: dimgray;
}

/* ヘビの体の色 */
.snakeBody {
  background: darkgray;
}

/* フルーツの色 */
.fruitColor {
background: orangered;
}